# This is symlinked to /etc/systemd/system/ on the server running cylc hub

[Unit]
Description=JupyterHub
After=syslog.target network.target

[Service]
User=jupyterhub
AmbientCapabilities=CAP_NET_BIND_SERVICE
Environment="CYLC_VERSION=8-hub"
Environment="METOMI_SITE=/data/local/fcm/metomi-site"
Environment="JUPYTERHUB_LOG=/var/log/jupyterhub/jupyterhub.log"
ExecStartPre=/bin/bash -c "\
             mkdir -p /home/jupyterhub/.cylc/uiserver; \
             mkdir -p /var/log/jupyterhub/services; \
             ln -sf /var/log/jupyterhub/services /home/jupyterhub/.cylc/; \
             ln -sf $METOMI_SITE/etc/cylc/hub/jupyter_config-%H.py /home/jupyterhub/.cylc/uiserver/jupyter_config.py"
ExecStart=/bin/bash -c "PATH=\"$METOMI_SITE/bin:$PATH\" cylc hub &>> $JUPYTERHUB_LOG"
ExecStop=/bin/kill -2 $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
